extends layout

block content
  .container-fluid
    .row
      .col-9

        h6#title 
          | #{game.name} 
          small (#{game.id})
        #players-boards
          .tabbable
            ul.nav.nav-tabs.nav-append-content
            .tab-content


        .roomzone
          h6 #{__("Le donjon")}
          p 
            button#open-door.btn.btn-primary #{__("Ouvrir la porte")}
            | 
            button#take-open-door.btn.btn-primary #{__("Prendre la carte")}
            | 
            span#door-card
          p  
            button#take-door-card.btn.btn-primary !{__("Piocher une carte <strong>Donjon</strong>")} 
            | 
            button#take-treasure-card.btn.btn-primary !{__("Piocher une carte <strong>Trésor</strong>")}
            | 
            button#roll-dice.btn.btn-primary #{__("Lancer un dé")}

        .boardzone
          h6 #{__("Votre équipement")}
          ul#board.list-inline
          p.empty#board-empty #{__("Vous n'avez aucun équipement")}

        .handzone
          h6 #{__("Votre main")}
          ul#hand.list-inline
          p.empty#hand-empty #{__("Vous n'avez aucune carte en main")}

      .col-3
      
        #visio
          h6 #{__("Video conf")}
          video

        h6 #{__("Personnages")}
        ul#players.list-unstyled

        h6 #{__("Evènements")}
        ul#logs.list-unstyled